body {

    margin: 0 ;
	width: 100%;
    background-color:rgb(230, 230, 230);
    font-family:'Montserrat', 'Sans-Serif';
}

nav ul, footer ul {
    
    font-family:'Montserrat', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

.container a{
    list-style: none;
    margin: -40px;
}

.container li{
    list-style: none;
    /* float: right; */
    margin-left: 40px;
}

nav ul li, footer ul li {
    
    display: inline;
	margin-right: 20px;
}

a {
    
    text-decoration: underline;
	color: rgb(0, 0, 0);
}

a:hover {
    
    text-decoration: underline;
}

h1 {
    
    font-size: 3em;
	font-family:'Montserrat', 'Sans-Serif';
	color:rgb(0, 0, 0);
}

p {
    
    font-size: 1.5em;
	line-height: 1.4em;
	color: rgb(0, 0, 0);
}

footer {
    
    border-top: 1px solid #000000;
	font-size: .8em;
}

ul.posts { 
    
    margin: 20px auto 40px; 
	font-size: 1.5em;
}

ul li {

	list-style: none;
}

.menu{
    background-color: rgb(68, 0, 107);
    margin: 0px;
    padding: 30px 60px;
    font-size: 20px;
    text-align: center;
    

}

.menu a{
    color: white;
}

.container img{
    width: 100%;
   
    
}

.container{
    padding: 60px;
    /* color: rgb(0, 0, 0); */
    font-size: 25px;
    
}

.container h2{
    color: rgb(255, 0, 0);
}


.container h3{
    color: rgb(125, 6, 172);
}



#student{
    clear: both;
}

#student h2{
    margin: 60px;
    color: rgb(4, 150, 65) ;
    font-size: 40px;
    margin-bottom: 30px;
}

#student h3{
    margin: 60px;
    color: rgb(0, 0, 0) ;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.student{
    background-color: rgb(4, 150, 65);
    padding: 60px;
    text-align: center;
}

.student img{
    width: 27vw;
    margin-bottom: 10px;
    
}





#img img{
    padding-bottom: 0;
}

#img img{
    border: rgb(0, 0, 0) solid 5px;
}



#work{
    clear: both;
}

#work h2{
    margin: 60px;
    color: rgb(243, 7, 46) ;
    font-size: 40px;
    margin-bottom: 30px;
}

#work h3{
    margin: 60px;
    color: rgb(0, 0, 0) ;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.work{
    background-color: rgb(243, 7, 46);
    padding: 60px;
    text-align: center;
}

.work img{
    width: 25vw;
}

.work p{
    color: white;
}

#img2 img, #img4 img{
    width: 35vw;
}

#img5 img {
    width: 30vw;
}

#img1, #img2, #img3, #img4{
    padding-bottom: 30px;
}

#img1 img, #img2 img, #img3 img, #img4 img, #img5 img{
    border: rgb(0, 0, 0) solid 5px;
}


.material{
    background-color: rgba(9, 195, 228, 0.836);
    padding: 60px;
    text-align: center;
}

#material h2{
    margin: 60px;
    font-size: 40px;
    color: rgba(1, 0, 56, 0.836);
    margin-bottom: 30px;
}

.material>h3{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#material>h3{
    margin: 60px;
    color: rgb(0, 0, 0) ;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.material a{
    font-size: 22px;

}


.contact{
    background-color: rgb(0, 0, 0);
    padding: 12px 60px ;
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
    
}

.contact a{
    color: white;
}

.copyright{
    background-color: rgb(255, 81, 0);
    color: white;
    font-size: 22px;
    padding: 20px 60px;
    text-align: center;
}

@media(max-width: 500px ){

    .menu{
       
        margin: 0px;
        padding: 30px 20px;
        font-size: 20px;
        text-align: center;
        
    
    }

    .container{
        padding: 20px;
        
        font-size: 25px;
        
    }

    .container h1{
       
        width: 80vw;
        font-size: 50px;
        
    }

    #student h2{
        margin-left: 20px;
        
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    #student h3{
        margin-left: 20px;
        
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    #work h2{
        margin-left: 20px;
        
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    #work h3{
        margin-left: 20px;
        
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    #material>h3{
        margin-left: 20px;
        
        font-size: 18px;
        margin-bottom: 30px;
        margin-top: 0;

    }


    .contact{
        
        padding: 12px 20px ;
        text-align: center;
        font-size: 22px;
        margin: 20px 0;
        
    }

    #img img{
        width: 50vw;
    }


}



